body,html{
    min-width: 400px;
    background-image: url("Babia-Góra.jpg");
}
body{
    text-align: center;
}
#registrationContainer{
    background: rgba(36, 132, 158, 0.3);
    font-size: 24px;
    position: fixed;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 380px;
    border: 2px black solid;
    border-radius: 12px;
}
.inputLogin{
    margin-top: 5px;
    margin-bottom: 3px;
    width: 150px;
    height: 19px;
    border-radius: 8px;
    background: rgba(213, 232, 237, 0.455);
    border: none;
    transition: width 0.4s ease-in-out;
}
.inputLogin:focus{
    width: 220px;
}
.inputLogin::placeholder{
    color: rgba(0, 0, 0, 0.709);
    text-align: center;
    font-size: 15px;
}
#registrationLink{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
#registrationLink:hover{
    color: rgb(9, 48, 89);
}

#submit{
    margin-top: 5px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background: rgba(213, 232, 237, 0.455);
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}
#submit:hover{
    
    background:rgba(9, 128, 158, 0.455);
    font-weight: 600;
}
#registrationContainer > button{
    margin-top: 5px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background: rgba(213, 237, 214, 0.455);
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}
#registrationContainer > button:hover{
    background:rgba(9, 128, 158, 0.455);
    font-weight: 600;
}
#failure{
    margin-left:auto;
    margin-right:auto;
    color: red;
    font-size: 25px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}